In [ ]:
"""
Create int, float, complex and print their types.

Convert int → float.

Convert float → int.

Create complex number and print real & imaginary part.

Boolean expressions example (5 > 3).

Check type of user input.

Difference between list and tuple (code example).

Create set and check duplicate removal.

Convert list into tuple.

Convert string into list.

Check if a number is even using bool.

Use type() inside condition.

What happens if you add int + string?

Create dictionary and print keys.

Check mutable vs immutable with example.
"""

In [3]:
#1

a = 123
b = 12.3
c = 2 + 3j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [5]:
#2

i = 44

j = float(i)
print(j)

44.0

In [6]:
#3

a = 33.4

print(int(a))

33

In [9]:
#4

a = 2 +3j

print(int(a.real))
print(int(a.imag))

2
3

In [10]:
#5

a = 10
b = 15

c = a > b
c

False

In [6]:
#6

a = input("enter the number : ")


if "." in a:
    print("float =",(float(a)))
elif "+" in a:
    print("complex =",(complex(a)))
else:
    print("integer =",(int(a)))

enter the number :  88

integer = 88

In [3]:
#7

a = 1,2,3,4,5

b = list(a)
c = tuple(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [9]:
#8

s = {1,2,3,3,4,1,6}

print(s)

{1, 2, 3, 4, 6}

In [11]:
#9

my_list = [1,2,3,"apple","orange",1,2]

print(tuple(my_list))
print(set(my_list))

(1, 2, 3, 'apple', 'orange', 1, 2)
{1, 2, 3, 'apple', 'orange'}

In [12]:
#10

var1 = "aksjsajskjakjsjasjkajkasj"

print(list(var1))

['a', 'k', 's', 'j', 's', 'a', 'j', 's', 'k', 'j', 'a', 'k', 'j', 's', 'j', 'a', 's', 'j', 'k', 'a', 'j', 'k', 'a', 's', 'j']

In [14]:
#11

a = int(input("Enter the number : ")) #check the number is even r not

if a % 2 == 0:
    print("True")
else:
    print("False")

Enter the number :  2

True

In [21]:
#12

val = 10


if type(val) == int:
    print("integer")
else:
    print("other data type")

integer

In [25]:
#13

a = "arul"
b= 123


c = a+str(b)
print(c)

arul123

In [30]:
#14

my_dict = {
    "name" : "arul",
    "age" : 20,
    "cgpa" : 7.75
}

print(my_dict)

{'name': 'arul', 'age': 20, 'cgpa': 7.75}

In [48]:
#15

a = 1,2,3,4,5,6,7,7,4

b= list(a)
b[0]=3
print(b)

#c = tuple(a)
#c.append="hi"
#print(c)

d = set(a)
d.add(10)
d

[3, 2, 3, 4, 5, 6, 7, 7, 4]

{1, 2, 3, 4, 5, 6, 7, 10}