In [6]:
"""
1.Create 3 variables: name, age, cgpa and print them in one line.

2.Swap two variables without using third variable.

3.Take user input for two numbers and print their sum.

4.Check the type of a variable.

5.Convert string "25" into integer and add 10.

6.Assign multiple variables in single line.

7.What happens if you reassign a variable?

8.Create a variable and delete it using del. Print error.

9.Store boolean value and print its type.

10.Create a variable using dynamic typing and change its type.

11.Find memory id using id() function.

12.Write a program to check if two variables have same memory location.

13.Assign same value to 3 variables in one line.

14.Take float input and convert into int.

15.Print variable inside formatted string (f-string).
"""
#1

name = "arul"
age = 20
cgpa = 7.75

print(f"my name is {name},i'm {age} years old and my cgpa is {cgpa}")

my name is arul,i'm 20 years old and my cgpa is 7.75

In [4]:
#2

a = 10
b = 20

a, b = b, a

print(a, b)   # 20 10

20 10

In [5]:
#3

val_1 = int(input("Enter the number 1 : "))
val_2 = int(input("Enter the number 2 : "))

i = val_1 + val_2

print(i)

Enter the number 1 :  3
Enter the number 2 :  4

7

In [12]:
#4

a = "string"
b = 123
c = 12.3
d = True
e = 3+7j


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [16]:
#5

a = "25"

b = int(a)
print(type(b))
print(b+10)

<class 'int'>
35

In [24]:
#6

a,b,c,d,e = 2,4,5,6,7

print(a)
print(b)
print(c)
print(d)
print(e)

#or

a = 2,3,4,5,6    #automatically tuple created
print(a)
type(a)

2
4
5
6
7
(2, 3, 4, 5, 6)

tuple

In [26]:
#7

x = 12
i = x+10
x=i   #x became 22
print(x)

22

In [45]:
#8

k = "python - guido van rossum"

del k
print(k)          #name error appear

NameError: name 'k' is not defined

In [44]:
#9

f = True
print(f)
j = 1+f
print(j)
print(bool(j))
print(type(j))

True
2
True
<class 'int'>

In [54]:
#10

z = "python"
z = 123
z = 12.3

z                  #dynamic typing

12.3

In [72]:
#11

x = 30
y = 40


j = id(x)
d = id(y) 
print(j)
print(d)


#or

print(x is y)
print(z is x)

140716515305288
140716515305608
False
True

In [74]:
#12

a  = 20
b = 30

print(a is b)  #diffent memory location

False

In [79]:
#13

a=b=c = 2


print(a,b,c)

2 2 2

In [85]:
#14

a = float(input("Enter the number : ")) #example 45.4555
b = 44.67
print(a)

i = int(a)
j = int(b)
print(i)
print(j)

Enter the number :  45.6

45.6
45
44

In [95]:
#15

print("-----------college details (name and degree)-------------------")
a = input("Enter your name   : ").capitalize()
year = int(input("Enter year: "))

if year == 1:
    suffix = "st"
elif year == 2:
    suffix = "nd"
elif year == 3:
    suffix = "rd"
else:
    suffix = "th"

j=(str(year) + suffix)

 

b = input("Enter your degree : ").capitalize()



print(f"my name is {a} and i currently pursuing {j} year {b} at cms college of engineering")

-----------college details (name and degree)-------------------

Enter your name   :  arulprasath
Enter year:  4
Enter your degree :  b.tech

my name is Arulprasath and i currently pursuing 4th year B.tech at cms college of engineering