#  list

In [18]:
mylist = ["name","number",123,4.33]

print(mylist)

['name', 'number', 123, 4.33]

In [19]:
mylist = ["name","number",123,4.33]  
print(len(mylist))

4

In [20]:
mylist = ["name","number",123,4.33]      #list is mutable
mylist[1]="jklw"
print(mylist)

['name', 'jklw', 123, 4.33]

In [21]:
mylist = ["name","number",123,123,4.33]  #list allow duplicates
print(mylist)

['name', 'number', 123, 123, 4.33]

In [22]:
mylist = ["name","number",123,4.33]
print(mylist[0])

name

In [23]:
print(mylist[2])

123

In [16]:
print(mylist[-1])

4.33

In [17]:
print(mylist[-3])

number

In [37]:
list_1 = ["arul","yogesh","vinnu","tamil"]

for i,name in enumerate(list_1,start=1 ):
#    print(i,name)
    print(f"{i}) {name}")

1) arul
2) yogesh
3) vinnu
4) tamil

In [38]:
a = [1,2,3,4,5,6]

for i in a:
    print(i)

1
2
3
4
5
6

In [41]:
list_1 = ["name","number",123,4.33]

print(list_1[1:-1])

['number', 123]

In [42]:
print(type(list_1))

<class 'list'>