In [ ]:
"""
Arithmetic operators example (+, -, *, /)

Floor division & modulus difference

Power operator use

Comparison operators example (==, !=, >, <, >=, <=)

Logical operators (and, or, not)

Assignment operators (+=, -=, *=, /=)

Identity operators (is, is not)

Membership operators (in, not in)

Bitwise AND example

Bitwise OR example

Bitwise XOR example

Left shift operator

Right shift operator

Operator precedence example

Combine multiple operators in one expression
"""

In [15]:
#1

num1 = 15
num2 = 22

add = num1+num2
print("add   :",add)

sub = num1-num2
print("sub   :",sub)

mul = num1*num2
print("mul   :",mul)

div = num1/num2
print("div   :",div)

d_fl = num1//num2
print("floor :",d_fl)

mod = num1%num2
print("mod   :",mod)

add   : 37
sub   : -7
mul   : 330
div   : 0.6818181818181818
floor : 0
mod   : 15

In [13]:
#2

num1 = 54
num2 = 33

#floor division

a = num1//num2
print(a)

#modulus

b = num1%num2
print(b)

1
21

In [27]:
#3 power opwerator

val_1 = int(input("enter the value : "))
val_2 = int(input("enter the value : ")) #anything power 0 = 1


c = val_1 ** val_2
print(c)

enter the value :  3
enter the value :  0

1

In [37]:
#4 Comparison operators example (==, !=, >, <, >=, <=)

a = int(input("enter the number 1 : ".title()))
b = int(input("enter the number 2 : ".title()))

print( a == b )

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

Enter The Number 1 :  4
Enter The Number 2 :  3

False
True
True
False
True
False

In [43]:
#5 Logical operators (and, or, not)

a = 2
b = 4

print(a>b and b<a)

print(a>b or a<b)

print(not(a>b))

False
True
False

In [56]:
#6 Assignment operators (+=, -=, *=, /=)


a = 5

a += 2
print(a)

a -= 3
print(a)


a *= 3
print(a)

a /= 2
print(a)

7
4
12
6.0

In [60]:
#7 Identity operators (is, is not)

a = 257
b = 257
print(a is b)

a = 256
b = 256
print(a is b)

a = 10
b = 20
print(not(a is b))

False
True
True

In [64]:
#8 Membership operators (in, not in)

book = "Harry potter and the prison of stone"

print("prison" in book)
print(not("prison" in  book))

True
False

In [71]:
#9 and 10 >> Bitwise AND or example

a = 12
b = 13

print(a & b)
print(a | b)

12
13

----------------------------------------------------------------------------
      1100
    & 1101
    ------
      1100  → 12
-----------------------------------------------------------------------------
       1100
     | 1101
      ------
       1101  → 13
-----------------------------------------------------------------------------

In [73]:
#11  bitwise XOR


a = 12
b = 13

print(bin(a))
print(bin(b))
print(a^b)

0b1100
0b1101
1

In [74]:
#12 Left shift operator

a = 2
b = 8

print(a << b)

512

In [75]:
#13 right shift operator

a = 3
b = 5

print(a >> b)

0

In [77]:
#14 Operator precedence example


a = 2
b = 3
c = 7

print(a+b*c)

print(a-b*c/7)

23
-1.0

In [78]:
#15 Combine multiple operators in one expression

print(2*5+12-4//3)

21