In [ ]:
"""
Reverse a string.

Count vowels in a string.

Check palindrome.

Convert string to uppercase.

Remove spaces using strip().

Replace a word in string.

Split a sentence into words.

Join list into string.

Print every alternate character.

Find length without using len().

Check substring exists or not.

Count frequency of a character.

Capitalize first letter.

Remove duplicate characters.

Take input and check if numeric.
"""

In [32]:
#1

a = "yogesh"

print(a[::-1])

#using loop

a = "yogesh"
rev = ""

for b in a:
    rev = b + rev

print(rev)

hsegoy
hsegoy

In [40]:
#2 Count vowels in a string

a = "orange"
count = 0

for b in  a.lower():
    print(b,end = "")
    if b in "aeiou":
        count += 1

#print(f""" 
#Count is : {count}
#      """)

print("\ncount is ",count)

orange
count is  3

In [42]:
#3

a = "level"

if a.lower() == a.lower()[::-1]:
    print("Palindrome")
else:
    print("not Palindrome")

Palindrome

In [63]:
#4

a = "   apple     "
print("before :",a)
print(len(a))
b = a.strip()
print(b)
print(len(b))
c = a.rstrip()
print(c)
print(len(c))
d = a.lstrip()
print(d)
print(len(d))

before :    apple
13
apple
5
   apple
8
apple
10

In [70]:
#5 Replace a word in string.

a = "hi hello "

b = a.replace ("hello","python")

print(b)

hi python

In [72]:
#6 Split a sentence into words


a = "hi ,hello"

b = a.split()

print(b)

['hi', ',hello']

In [80]:
#7 Join list into string

a = ["aaa","bbb","ccc"]

b = " ".join(a)

print(b)

aaa bbb ccc

In [88]:
#8 Print every alternate character

a = "vinnarasu"

b = a[::2]

print(b)

vnaau

In [89]:
#9 Find length without using len()


a = "arulprasath"

length = 0 

for i in a:
    length += 1

print(length)

11

In [95]:
#10

a = "hi guys good morning"

print("guys" in a)

True

In [97]:
#11 Count frequency of a character

a = "banana"

b = a.count("a")

print(b)

3

In [101]:
#12  Capitalize first letter


a = "now,the world is running on AI" 

print(a.capitalize())
print(a.title())
print(a.lower())
print(a.upper())
print(a.casefold())
print(a.strip())

Now,the world is running on ai
Now,The World Is Running On Ai
now,the world is running on ai
NOW,THE WORLD IS RUNNING ON AI
now,the world is running on ai
now,the world is running on AI

In [4]:
#13 Remove duplicate characters

a = {1,2,2,2}

print(a)

#or

a = "malayalam"

b = ""

for i in a:
    if i not in b:
        b = b + i
        
print(b)

{1, 2}
maly

In [21]:
a = "vinnarasu"
c = ''

for i in a:
    if i not in c:
        c += i
print(c)

vinarsu