### STRING SLICING

In [1]:
a = "string sclicing"

print(a[2:5+1])

print(a[-12:-1])

print(a[-8:-2])

print(a[7:12])

ring
ing sclicin
sclici
sclic

## STRING MANIPULATION METHODS

In [52]:
j = "Yogesh waran"

print(j.upper())                                 #uppercase

print(j.lower())                                 #lowercase

print(j.title())                                 #capitalize the first letter in each word

print(j.split("g"),j.split("r"))                 #split str to list

print(j.capitalize())                            #first letter capitalize

update_j = j.replace("Yogesh waran","vinnu")     #replace once to another
print(update_j)

print(update_j.find ("n"))                       #finding index value

#print(update_j.split())

YOGESH WARAN
yogesh waran
Yogesh Waran
['Yo', 'esh waran'] ['Yogesh wa', 'an']
Yogesh waran
vinnu
2

###  _________________________________________________________________________________________________________________________
### SPLIT EXAMPLE

In [5]:
fb_pass ="your account name : ARULARUL facebook password reset OTP is 909870 ,enter the code in verification box "

facebook_id = fb_pass.split(":")[1].split("facebook")[0].strip()
facebook_otp = fb_pass.split("is")[1].split(",")[0].strip()
print(f"USERNAME    : {facebook_id}")
print(f"YOUR OTP IS : {facebook_otp}")

USERNAME    : ARULARUL
YOUR OTP IS : 909870

## HOMEWORK :

 CONVERT STRING INTO LOWERCASE:

In [8]:
i = "Welcome to Juypter NameBOOK!"

print(i.casefold())                 #convert str into lower case

welcome to juypter namebook!

## __________________________________________________________________________________________________________
ENCODE VERSION:

In [34]:
c= "arul123"
d = "gdhdjdk"

print(c.encode())       #encode version of str
d.encode()              #encode version of str

b'arul123'

b'gdhdjdk'

## _________________________________________________________________________________________________________
TAB SPACE (OR) CLEAN

In [41]:
q = "B\te\ts\te\tn\tt"

p = q.expandtabs(2)         #Use expandtabs() for \t

print(p)

B e s e n t

##  _________________________________________________________________________________________________________
REMOVE SPACE

In [58]:
y = "           arul             "

alter = y.rstrip()
print(f"my name is {alter},i'm from aaaa")    #remove space in right side
alter = y.lstrip()
print(f"my name is {alter},i'm from aaaa")    #remove space in left side
alter = y.strip()
print(f"my name is {alter},i'm from aaaa")    #remove space in both side

my name is            arul,i'm from aaaa
my name is arul             ,i'm from aaaa
my name is arul,i'm from aaaa

##  ________________________________________________________________________________________________________
STRING ALINGMENT METHOD

In [8]:
s = "Python"
print(s.ljust(10, "-"))
print(s.rjust(10, "-"))

Python----
----Python

## _________________________________________________________________________________________________________
ALPHA NUMREIC METHOD

In [11]:
password = "word123"
print(password.isalnum())

True