## Tuple

### Tuples are used to store multiple items in a single variable.
### Ordered
### Unchangeable
### Allow Duplicates

In [1]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(type(mytuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [2]:
mylist1 = ["apple", "banana", "cherry"]
print(type(mylist1))

<class 'list'>

In [1]:
t=(1,2,3,4,6)
l=list(t)
l[2]=7
t=tuple(l)
t

(1, 2, 7, 4, 6)

In [8]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[1:])

('banana', 'cherry', 'hello')

In [9]:
mylist = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mylist[:3])

('apple', 'banana', 'cherry')

In [2]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [10]:
veg = ("apple", "banana", "cherry")

(green, yellow, red) = veg

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [5]:
veg = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow,red,white,black) = veg

print(green)
print(yellow)
print(red)
print(white)
print(black)

apple
banana
cherry
strawberry
raspberry

In [13]:
veg = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, tropic,*yellow,red) = veg

print(green)
print(tropic)
print(yellow)
print(red)

apple
mango
['papaya', 'pineapple']
cherry

In [6]:
mytuple = ("apple", "banana", "cherry")
for i in mytuple:
  print(i)

apple
banana
cherry

In [16]:
mylist = ("apple", "banana", "cherry")
for i in range(len(mylist)):
  print(mylist[i])

apple
banana
cherry

In [14]:
mytuple1 = ("a", "b" , "c")
mytuple2 = (1, 2, 3)

mytuple3 = mytuple1 + mytuple2
print(mytuple3)

('a', 'b', 'c', 1, 2, 3)

In [13]:
mylist = (1, 3,8, 7, 5, 4, 6, 8, 5)

x = mylist.index(5)

print(x)

4

In [1]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = mytuple.count(7)

print(x)

2

In [2]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
list1=list(mytuple)
list1.append("hi")
mytuple=tuple(list1)
mytuple

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 'hi')

In [3]:
#input
k=(1,32,5,870,90)
k1=(67,349)

print(k+k1)
# output
k=(1,32,5,870,90,67,349)

(1, 32, 5, 870, 90, 67, 349)

In [11]:
k=tuple(list(k)+list(k1))
k

(1, 32, 5, 870, 90, 67, 349, 67, 349)

In [12]:
k=[1,3,4,78,89]
67

67